# Virtual environment
.venv/

# Environment variables
.env

# Data
data/raw/
data/logs/
data/processed/features/
create_notebook.py

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
*.ps1

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log